@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", "sans-serif";

}

main{

width: 100vw;
height: 100vh;    
display: flex;
align-items: center;
justify-content: center;
background: #f5f5f5;


}

.left{
    
    width: 329px;
    height: 583px;
    align-items: center;
    justify-content: center;

       

}

img{
    
    width: 100%;

    

}

.right{

    width: 513px;
    height: 583px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    
}

.card{

    border: 1px solid #f5f5f5;
    width: 395px;
    height: 405px;   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 10px 18px #f5f5f5;
  
}

h1{

    color: #00A551;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    height: 23px;
    width: 160px;
    margin-bottom: 15px;
    margin-top: 15px;
        


}

h2{

    color: #474749;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    height: 14px;
    width: 247px;


}


label{
 
    color: #7F7E83;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    margin-top: 23px;
    align-items: flex-start;
    align-items: center;
    height: 14px;
    margin-bottom: 15px;
}

input{

    height: 30px;
    width: 270px;
    padding: 7px;
    background: #f4f4f4;
    border-radius: 10px;
    outline: none;
    border: none;
    
}

button{

background-color: #00A551;
border: none;
color: #ffff;
font-size: 12px;
font-weight: 500;
border-radius: 9px;
height: 30px;
width: 150px;
margin: 20px;
cursor: pointer;


}

h3{

    color: #474749;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

}

h3 a{

    color: #00A551;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}





